* {
    margin: 0px;
    padding: 0px;
    line-height: 1.7em;
    font-family: Roboto;

}

/* utility class */
.column {
    float: left;
    width: 33.33%;

}

/* utility class */
.h_line {
    width: 135px;
    height: .2px;
    background-color: rgba(26, 25, 25, 0.096);
}



/* row */
header {
    height: 40px;
    background-color: #3b5998;
    text-align: center;
    font-size: 13px;
    padding-bottom: 4px;
}

header a {
    text-decoration: none;
    color: #fff;

}

#app-dw {
    display: flex;
    background-color: #fffbe2;
    align-content: center;
    justify-content: center;
    overflow: auto;
    padding: 4px;
    word-spacing: 0px;
    height: 30px;
}

#le a {
    font-size: 13px;
    text-decoration: none;
    float: right;
    padding: 2px;
    font-style: bold;
    color: #3b5998;
}

#le img {
    height: 28px;
    padding-right: 8px;
    float: left;
}

#body {
    background-color: #eceff5;
    overflow: auto;
}

#log-in {
    text-align: center;
    padding: 15px 0;
}

#log-in input {
    padding: 8px;
    border: none;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 0px .1px #000;

}

/* #usr input {
    margin-bottom: .8px;
} */

#psw input {
    margin-top: .04rem;
}

#log-in ::placeholder {
    opacity: .9;
}

#log-in input:focus {
    outline-color: #ebb03f;

}

#login-btn {
    display: flex;
    height: 38px;
    padding: 3px;
    font-size: 13px;
    font-size-adjust: 43;
    margin-top: -9px;
    margin-bottom: 10px;
    justify-content: center;

}

#login-btn a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3578e5;
    padding: 10px 145px;
    border-radius: 4px;
}

#or {
    justify-content: center;
    display: flex;
}

#or p {
    margin-top: -15px;
    margin-right: 13px;
    margin-left: 13px;
    font-size: 14px;
    color: #4b4f56;

}

.left {
    justify-content: flex-start;

}

.right {
    justify-content: flex-end
}

#createnew {
    margin-top: 10px;
    text-align: center;

}

#createnew a {
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    background-color: #00a400;
    padding: 11px 17px;
    width: 40px;
    border-radius: 3px;

}

#help {
    margin-top: 15px;

    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    margin-left: 25vh;
}

#help a {
    text-decoration: none;
    color: #7596c8;

}

#helps {
    margin-left: 4vh;
    justify-content: flex-end;
    margin-bottom: 35px;
}

#helps li {
    list-style: #7596c8;
}

#foter {
    margin: auto;
    padding: 20px 70px;
    margin-top: 10px;
}

#leftlan {
    /* display: flex;
    justify-content: flex-start; */
    font-size: 10px;
    float: left;

}

#leftlan a {
    color: #5e88e1;
    text-decoration: none;
}

#rightlan a {
    color: #5e88e1;
    text-decoration: none;
}

#rightlan {
    /* display: flex;
    justify-content: flex-end; */
    font-size: 10px;
    float: right;
}

#rightlan li {
    list-style: none;
}

#leftlan li {
    list-style: none;
}

#rightlan li:last-child {
    border: 2px solid #5e88e1;
    text-align: center;
}

#rightlan li:last-child a {
    color: #000;
}

#copy {
    padding-top: 80px;
    padding-left: 19vh;
    color: #808080;
    font-size: 13px;

}

@media (max-width: 700px) {
    #log-in input {
        padding: 8px;
        border: none;
        background-color: #fff;
        border-radius: 1px;
        box-shadow: 0px 0px 0px .1px #000;
        width: 88%;

    }

    #or {
        justify-content: center;
        display: flex;
        margin-top: 20px;
    }

    #or p {
        margin-top: -12px;
        margin-right: 13px;
        margin-left: 13px;
        font-size: 14px;
        color: #4b4f56;

    }

    #help {
        margin-top: 15px;

        font-size: 13.2px;
        display: flex;
        justify-content: flex-start;
        margin-left: 25%;
    }

    #leftlan {
        /* display: flex;
    justify-content: flex-start; */
        font-size: 12.4px;
        float: left;

    }

    #rightlan {
        /* display: flex;
    justify-content: flex-end; */
        font-size: 12.4px;
        float: right;
    }

    #copy {
        padding-top: 45%;
        padding-left: 28%;
        color: #808080;
        font-size: 14px;

    }

    .h_line {
        width: 126px;
        height: .9px;
        background-color: rgba(26, 25, 25, 0.096);
    }

}